.title{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
}
.block{
    background-color: rgb(179, 179, 179);
    color: black;
    padding: 10px 16px;
    width: auto; 
    height:auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 40px;
    overflow: hidden;
    background-color: #38444d;
    font-family: 'Courier New', Courier, monospace;
}
li{
    float: left 
}
li a, .dropbtn{
    display: inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-size: medium;
}
li a.active{
    background-color: rgb(167, 145, 145);
}
li a:hover:not(.active){background-color: #555}
li a:hover, .dropdown:hover .dropbtn{
    background-color: rgba(255, 255, 255, 0.212);
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content a{
    color: black;
    padding: 1em;
    text-decoration: none;
    display: block;
    text-align:left;
    border-radius: 10px;
}
.dropdown-content a:hover { background-color: #f1f1f1;}
.dropdown:hover .dropdown-content{
    display: block;
}
p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5em;
}
html, body{
    margin:0;
    height: 100%;
    background-repeat: space;
    background-image: url(https://img.freepik.com/free-vector/dark-polygonal-background_1409-878.jpg?w=1380&t=st=1686294911~exp=1686295511~hmac=83c8718cba9eb303a8b5515af54103a35180d5c61dd30cedd0fdd33157a1d4b5)
}
.quote{
    padding: 0 10%;
    font-size: inherit;
    margin: auto;   
}
.textblock{
    background-color:rgb(71 76 59);
    padding: 50px;
}
.round{
    border-radius: 50%;
    display: block;
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.Rbox{
    background-color: #e6e6e6;
    color: #131414;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
p.quote{
    color: rgb(189, 189, 189);
}
.pr{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
}